#myTabContent{
   margin-left: 20px;
}

.content-img{
   margin-top: 10px;
   margin-bottom: 10px;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-gap: 10px;
}

.content-img .img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.titulo_img span{
   color: #0f7cff;
}
.titulo_img {
font-style: italic;

font-weight: 700;
}